.gpa-input {
  min-width: 180px;

  &--success {

    input.gpa-input__area {
      border-color: #00afec;
    } // .gpa-ui-input--success input.gpa-input__area

    .gpa-input__title {
      color: #00afec;
    } // .gpa-ui-input--success .gpa-input__title

  } // .gpa-ui-input--success

  &--error {

    input.gpa-input__area {
      border-color: #f35252;
    } // .gpa-ui-input--error input.gpa-input__area

    .gpa-input__title {
      color: #f35252;
    } // .gpa-ui-input--error .gpa-input__title

    .gpa-input__error {
      display: block;
    } // .gpa-ui-input--error .gpa-input__error

  } // .gpa-ui-input--error

  &--disabled {

    input.gpa-input__area {
      cursor: not-allowed;
      color: #b5b5b5;
      border-color: #dbdbdb;
      background-color: #f8f8f8;
    } // .gpa-ui-input--disabled input.gpa-input__area

  } // .gpa-ui-input--disabled

  &__title {
    font: 400 12px/14px Roboto, sans-serif;
    margin-bottom: 5px;
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-input__title

  &__error {
    font: 400 12px/14px Roboto, sans-serif;
    display: none;
    color: #f35252;
  } // .gpa-input__error

  &__area {
    font: 13px/15px Roboto, sans-serif;
    width: 100%;
    padding: 10px 15px;
    color: #212121;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fff;

    &[type="password"] {
      letter-spacing: 5px;
      font-weight: 900;
    } // .gpa-input__area[type="password"]

  } // .gpa-input__area

  input::-webkit-input-placeholder,
  input:-ms-input-placeholder,
  input::placeholder {
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-ui-input input::-webkit-input-placeholder / .gpa-ui-input input:-ms-input-placeholder / .gpa-ui-input input::placeholder

} // .gpa-ui-input
