<div
  class="gpa-input"
  [ngClass]="[
    !!state ? 'gpa-input--'+state : '',
    !!disabled ? 'gpa-input--disabled' : '',
    value !== '' ? 'gpa-input--filled' : ''
  ]"
>
  <!-- success / error / filled -->

  <div class="flex flex--content-between">
    <div class="gpa-input__title">{{ title }}</div>
    <div class="gpa-input__error">{{ errorText }}</div>
  </div>

  <input
    [type]="type"
    class="gpa-input__area"
    [(ngModel)]="value"
    (ngModelChange)="change()"
    [placeholder]="placeholder"
    [disabled]="disabled"
  >

</div>
