.gpa-button {
  font: bold 14px/16px Roboto, sans-serif;
  padding: 10px 30px 9px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  text-align: center;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 2px;
  background-color: #f8f8f8;

  &:active,
  &--active {
    opacity: .8;
  } // .gpa-button:active / .gpa-button--active

  &--small {
    padding: 7px 20px;
  } // .gpa-button--small

  &--success {
    color: #fff;
    border-color: rgba(0,0,0,.15);
    outline-color: #00afec;
    background-color: #00afec;

    &:hover {
      background-color: opacify(#00afec, 0.2);
    } // .gpa-button--success:hover

  } // .gpa-button--success

  &--error {
    color: #fff;
    border-color: rgba(0,0,0,.15);
    outline-color: #f35252;
    background-color: #f35252;

    &:hover {
      background-color: opacify(#f35252, 0.2);
    } // .gpa-button--error:hover

  } // .gpa-button--error

  &--warning {
    color: #fff;
    border-color: rgba(0,0,0,.15);
    outline-color: #ffb827;
    background-color: #ffb827;

    &:hover {
      background-color: opacify(#ffb827, 0.2);
    } // .gpa-button--warning:hover

  } // .gpa-button--warning

  &--grey {
    border-color: rgba(0,0,0,.05);
    outline-color: #ccc;

    &:hover {
      color: #00AFEC;
    } // .gpa-button--grey:hover

    &:active,
    &.poz-button--active {
      color: #00afec;
      border-color: rgba(0,0,0,.15);
      background-color: #fff;
    } // .gpa-button--grey:active / .gpa-button--grey.gpa-button--active

  } // .gpa-button--grey

  &--white {
    color: #00afec;
    border-color: rgba(0, 175, 236, 0.3);
    outline-color: rgba(0, 175, 236, 0.3);
    background-color: #fff;

    &:hover {
      opacity: 0.7;
    } // .gpa-button--white:hover

    &:active,
    &.poz-button--active {
      color: #00AFEC;
      border-color: rgba(0, 175, 236, 0.3);
      background-color: #fff;
    } // .gpa-button--white:active / .gpa-button--white.gpa-button--active

    &:disabled {
      color: #b5b5b5;
      border-color: #b5b5b5;
    } // .gpa-button--white:disabled

  } // .gpa-button--white

  &:disabled,
  &--disabled {
    cursor: not-allowed;
    color: #b5b5b5;
    outline-color: #ccc;
    background-color: #f8f8f8;
  } // .gpa-button:disabled / .gpa-button--disabled

} // .gpa-button
