.gpa-popup {
  background-color: opacify(#212121, 0.8);
  height: 100vh;
  overflow: scroll;
  padding-bottom: 25px;
  z-index: 100;

  &__text {
    color: #212121;
    font: 14px/20px "Roboto", sans-serif;
  } // .gpa-popup__text

  .modal-form__title {
    font: 14px/20px "Roboto", sans-serif;
  } // .modal-form__title

} // .gpa-ui-popup



.modal-form {
  width: 500px;
  position: absolute;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #DBDBDB;
  top: 50px;
  margin-bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  &__title {
    font: bold 14px/20px "Roboto", sans-serif;
    letter-spacing: .3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
      font: 500 14px/16px "Roboto", sans-serif;
      color: #B5B5B5;
      letter-spacing: 0.3px;
    } // .modal-form__title span

  } // .modal-form__title

  &__content {

  } // .modal-form__content

  &__footer {

  } // .modal-form__footer

} // .modal-form
