<div class="gpa-popup position--absoute top right bottom left" [hidden]="!isShow">
    <form class="modal-form bg border--radius-all">
        <!--TODO: AlexFosJS: посмотреть на стили, ибо через ng-content немного пидорасит форму-->
        <ng-content></ng-content>
    </form>
</div>
