<div style="display: none">
  <ng-content select="option"></ng-content>
</div>

<div
  class="gpa-multiselect position--relative"
  (click)="toggleOpen($event)"
  [ngClass]="{
    'gpa-multiselect--open': opened,
    'gpa-multiselect--success': opened,
    'gpa-multiselect--filled': hasSelected,
    'gpa-multiselect--error': !!error,
    'gpa-multiselect--disabled': disabled}"
>

  <div class="flex flex--content-between">
    <div class="gpa-multiselect__title">{{title}}</div>
    <div class="gpa-multiselect__error" *ngIf="showErrorText()">{{error}}</div>
  </div>

  <div class="gpa-multiselect__area flex flex--align-center">
    <span class="gpa-multiselect__selected-block" *ngIf="selected.length > 0">
      {{selected[0].title}} <span *ngIf="selected.length > 1">+ {{selected.length - 1}}</span>
    </span>
  </div>

  <div class="gpa-multiselect__arrow position--absoute flex flex--align-center flex--content-center">
    <span class="gpa-multiselect__arrow-icon"></span>
  </div>

  <div class="gpa-multiselect__dropdown flex" gpaScroll (scrolled)="scrollDown()" (scrolledUp)="scrollUp()">
    <a class="gpa-multiselect__dropdown-item gpa-multiselect__dropdown-item--active" *ngFor="let item of options">
      <gpa-checkbox
        class="checkbox--image"
        [customId]="item.value"
        [checked]="item.isSelected"
        (change)="changeOption(item)"
      >
        {{item.title}}
      </gpa-checkbox>
    </a>
  </div>

</div>
