.gpa-multiselect {
  min-width: 180px;

  &--open {

    .gpa-multiselect__arrow-icon {
      -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
      transform: scale(-1);
    } // .gpa-ui-multiselect--open .gpa-multiselect__arrow-icon

    .gpa-multiselect__dropdown {
      max-height: 125px;
      padding: 0 5px 5px 5px;
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0ms, 0ms;
      -o-transition-delay: 0ms, 0ms;
      transition-delay: 0ms, 0ms;
      -webkit-transition-property: max-height, padding;
      -o-transition-property: max-height, padding;
      transition-property: max-height, padding;
    } // .gpa-ui-multiselect--open .gpa-multiselect__dropdown

  } // .gpa-ui-multiselect--open

  &--success {

    .gpa-multiselect__area {
      border-color: #00afec;
    } // .gpa-ui-multiselect--success .gpa-multiselect__area

    .gpa-multiselect__title {
      color: #00afec;
    } // .gpa-ui-multiselect--success .gpa-multiselect__title

    .gpa-multiselect__arrow-icon {
      border-top-color: #00afec;
    }  // .gpa-ui-multiselect--success .gpa-multiselect__arrow-icon

    .gpa-multiselect__dropdown {
      border-right-color: #00afec;
      border-bottom-color: #00afec;
      border-left-color: #00afec;
    } // .gpa-ui-multiselect--success .gpa-multiselect__dropdown

  } // .gpa-ui-multiselect--success

  &--error {

    .gpa-multiselect__area {
      border-color: #f35252;
    } // .gpa-ui-multiselect--error .gpa-multiselect__area

    .gpa-multiselect__title {
      color: #f35252;
    } // .gpa-ui-multiselect--error .gpa-multiselect__title

    .gpa-multiselect__error {
      display: block;
    } // .gpa-ui-multiselect--error .gpa-multiselect__error

    .gpa-multiselect__arrow-icon {
      border-top-color: #f35252;
    }  // .gpa-ui-multiselect--error .gpa-multiselect__arrow-icon

    .gpa-multiselect__dropdown {
      border-right-color: #f35252;
      border-bottom-color: #f35252;
      border-left-color: #f35252;
    } // .gpa-ui-multiselect--error .gpa-multiselect__dropdown

  } // .gpa-ui-multiselect--error

  &--disabled {

    .gpa-multiselect__area {
      cursor: not-allowed;
      color: #b5b5b5;
      border-color: #dbdbdb;
      background-color: #f8f8f8;
    } // .gpa-ui-multiselect--disabled .gpa-multiselect__area

    .gpa-multiselect__arrow-icon {
      border-top-color: #dbdbdb;
    }  // .gpa-ui-multiselect--disabled .gpa-multiselect__arrow-icon

    .gpa-multiselect__dropdown {
      border-right-color: #dbdbdb;
      border-bottom-color: #dbdbdb;
      border-left-color: #dbdbdb;
      background-color: #f8f8f8;
      cursor: not-allowed;
    } // .gpa-ui-multiselect--disabled .gpa-multiselect__dropdown

    .gpa-multiselect__dropdown-item {
      color: #B5B5B5;
      background-color: #f8f8f8;
      cursor: not-allowed;
    } // .gpa-ui-multiselect--disabled .gpa-multiselect__dropdown-item

  } // .gpa-ui-multiselect--disabled

  &__title {
    font: 400 12px/14px "Roboto", sans-serif;
    margin-bottom: 5px;
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-multiselect__title

  &__error {
    font: 400 12px/14px "Roboto", sans-serif;
    display: none;
    color: #f35252;
  } // .gpa-multiselect__error

  &__area {
    font: 13px/15px 'Roboto', sans-serif;
    width: 100%;
    min-height: 35px;
    padding: 0 25px 0 5px;
    color: #212121;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
  } // .gpa-multiselect__area

  ::-webkit-multiselect-placeholder,
  :-ms-multiselect-placeholder,
  ::placeholder {
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-ui-multiselect ::-webkit-multiselect-placeholder / .gpa-ui-multiselect :-ms-multiselect-placeholder / .gpa-ui-multiselect ::placeholder

  &__arrow {
    top: 20px;
    right: 1px;
    height: 34px;
    width: 26px;
    border-radius: 1px;
    cursor: pointer;
  } // .gpa-multiselect__arrow

  &__arrow-icon {
    -webkit-transition: -webkit-transform 150ms ease;
    -o-transition:         transform 150ms ease;
    transition: -webkit-transform 150ms ease;
    transition:         transform 150ms ease;
    border-top: 4px solid #c4c4c4;
    border-right: 3px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 3px solid transparent;

  } // .gpa-multiselect__arrow-icon

  &__dropdown {
    position: absolute;
    top: calc(100% - 5px);
    right: 0;
    left: 0;
    overflow: scroll;
    max-height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    transition-property: max-height, padding, opacity, visibility;
    transition-duration: 300ms, 0ms, 0ms, 0ms;
    transition-delay: 0ms, 300ms, 300ms, 300ms;
    transition-timing-function: ease-in-out;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    z-index: 5;
  } // .gpa-multiselect__dropdown

  &__dropdown-item {
    font: 13px/15px 'Roboto', sans-serif;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    letter-spacing: .3px;
    color: #212121;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;

    /deep/ .gpa-checkbox__label {
      padding: 5px 10px;
    } // (/deep/) .gpa-multiselect__dropdown-item .gpa-checkbox__label

    &:hover {
      background-color: #F8F8F8;
    } // .gpa-multiselect__dropdown-item:hover

    &--disabled,
    &[disabled] {
      color: #B5B5B5;
      pointer-events: none;
    } // .gpa-multiselect__dropdown-item--disabled / .gpa-multiselect__dropdown-item[disabled]

  } // .gpa-multiselect__dropdown-item

  &__selected-block {
    font: 400 13px/14px 'Roboto', sans-serif;
    position: relative;
    margin-right: 7px;
    padding: 0 17px 0 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
    letter-spacing: .3px;

    &-close {
      background-image: url('/assets/img/icon--close.svg');
      background-position: center center;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
    } // .gpa-multiselect__selected-block-close

  } // .gpa-multiselect__selected-block

} // .gpa-ui-multiselect
