@mixin poz-table {

  .poz-table {

    &--one-columns {

      .poz-table__column {
        width: 100%;
      } // .poz-table--one-columns .poz-table__column

    } // .poz-table--one-columns

    &--two-columns {

      .poz-table__column {
        width: 50%;

        &:nth-child(1) {
          border-right: 1px solid #dbdbdb;
        } // .poz-table--two-columns .poz-table__column:nth-child(1)

      } // .poz-table--two-columns .poz-table__column

    } // .poz-table--two-columns

    &--tree-columns {

      .poz-table__column {
        width: 33.33333%;

        &:nth-child(1),
        &:nth-child(2) {
          border-right: 1px solid #dbdbdb;
        } // .poz-table--tree-columns .poz-table__column:nth-child(1) / .poz-table--tree-columns .poz-table__column:nth-child(2)

      } // .poz-table--tree-columns .poz-table__column

    } // .poz-table--tree-columns

    /deep/ &__thead {
      padding: 0 20px;
      border-bottom: 1px solid #dbdbdb;
      min-height: 50px;
    } // .poz-table__thead

    /deep/ &__thead-title {
      font: bold 14px/16px "Roboto", sans-serif;
      letter-spacing: 0.3px;
      color: #B5B5B5;
    } // (/deep/) .poz-table__thead-title

    /deep/ &__column-content {
      height: calc(100vh - 162px);
    } // (/deep/) .poz-table__column-content

    /deep/ &__status {
      width: 6px;
      height: 6px;
      background-color: transparent;
      border-radius: 50%;
      display: table;

      &.success {
        background-color: #00AFEC;
      } // (/deep/) .poz-table__status.success

      &.error {
        background-color: #F35252;
      } // (/deep/) .poz-table__status.error

    } // (/deep/) .poz-table__status

    /deep/ &__column-item {
      font: 14px/16px "Roboto", sans-serif;
      color: #212121;
      letter-spacing: 0.3px;
      padding: 12px 20px;
      cursor: pointer;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &:hover {
        background-color: rgba(0, 175, 236, 0.1);

        .icon-cells:not(.icon-cells--drop) {
          visibility: visible;
        } // (/deep/) .poz-table__column-item:hover .icon-cells:not(.icon-cells--drop)

      } // .poz-table__column-item:hover

      &.active {
        background-color: rgba(0, 175, 236, 0.1);
        cursor: default;

        .icon-cells:not(.icon-cells--drop) {
          visibility: visible;
        } // (/deep/) .poz-table__column-item.active .icon-cells:not(.icon-cells--drop)

      } // .poz-table__column-item.active

      &.disabled {
        color: #B5B5B5;
      } // .poz-table__column-item.disabled

      > span {
        white-space: nowrap;
        max-width: calc(100% - 36px);
        text-overflow: ellipsis;
        overflow: hidden;
      } // .poz-table__column-item span

      .icon-cells:not(.icon-cells--drop) {
        visibility: hidden;
      } // .poz-table__column-item .icon-cells:not(.icon-cells--drop)

      .icon-block .icon:hover {
        cursor: pointer;
        background-position-y: -20px;
      } // .poz-table__column-item .icon-block .icon:hover

    } // .poz-table__column-item

  } // .poz-table



  /**
   *  Медизапросы для блока с классом ".poz-table"
   */
  @media all and (max-height: 670px) {

    .poz-table {

      /deep/ .poz-table__column-content {
        height: 508px;
      } // (media) (/deep/) .poz-table .poz-table__column-content

    } // (media) .poz-table

  }

}
