/*  */
.gpa-spinbox {
  position: relative;
}

/*  */

.gpa-spinbox > .position--relative:after {
  position: absolute;
  z-index: 0;
  top: 2px;
  right: 2px;
  bottom: 2px;

  display: block;

  width: 23px;

  content: '';

  border-radius: 3px;
  background-color: #fff;
}

/*  */
.gpa-spinbox__plus,
.gpa-spinbox__minus {
  position: absolute;
  z-index: 1;

  width: 6px;
  height: 4px;
  cursor: pointer;
}

/*  */

.gpa-spinbox__minus:hover:before {
  border-top-color: #b5b5b5;
}

.gpa-spinbox__plus:hover:before {
  border-bottom-color: #b5b5b5;
}

/*  */
.gpa-spinbox__plus {
  top: 2px;
  right: 2px;
  padding: 8px 13px;
}

/*  */
.gpa-spinbox__plus:before {
  content: '';
  position: absolute;
  display: block;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #dbdbdb;
  border-left: 3px solid transparent;
  top: 10px;
  right: 10px;
}

/*  */
.gpa-spinbox__minus {
  right: 2px;
  bottom: 2px;
  padding: 8px 13px;
}

/*  */
.gpa-spinbox__minus:before {
  content: '';
  position: absolute;
  display: block;
  border-top: 4px solid #dbdbdb;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  right: 10px;
  bottom: 10px;
}

.gpa-spinbox--success input.gpa-spinbox__area {
  border-color: #00afec;
  /*outline-color: #00afec;*/
}

.gpa-spinbox--success .gpa-spinbox__title {
  color: #00afec;
}

.gpa-spinbox--error input.gpa-spinbox__area {
  border-color: #f35252;
  /*outline-color: #f35252;*/
}

.gpa-spinbox--error .gpa-spinbox__title {
  color: #f35252;
}

.gpa-spinbox--error .gpa-spinbox__error {
  display: block;
}

.gpa-spinbox--disabled .gpa-spinbox__minus:hover,
.gpa-spinbox--disabled .gpa-spinbox__plus:hover {
  cursor: not-allowed;
}

.gpa-spinbox--disabled .gpa-spinbox__minus:hover:before,
.gpa-spinbox--disabled .gpa-spinbox__plus:hover:before {
  border-top-color: #dbdbdb;
  border-bottom-color: #dbdbdb;
}

.gpa-spinbox--disabled > .position--relative:after {
  background-color: #f8f8f8;
  cursor: not-allowed;
}

.gpa-spinbox--disabled input.gpa-spinbox__area {
  cursor: not-allowed;

  color: #b5b5b5;
  border-color: #dbdbdb;
  /*outline-color: #b5b5b5;*/
  background-color: #f8f8f8;
}

.gpa-spinbox__area {
  font: 13px/15px Roboto, sans-serif;
  min-width: 180px;
  width: 100%;
  padding: 10px 10px 10px 15px;
  color: #212121;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  /*outline-color: #dbdbdb;*/
  background-color: #fff;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::placeholder {
  color: #b5b5b5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gpa-spinbox__title {
  font: 500 12px/14px Roboto, sans-serif;
  margin-bottom: 5px;
  color: #b5b5b5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gpa-spinbox__error {
  font: 500 12px/14px Roboto, sans-serif;

  display: none;

  color: #f35252;
}
