<div
  class="gpa-spinbox {{extraClass}}"
  [ngClass]="{'gpa-spinbox--filled': !!value}"
>

  <div class="flex flex--content-between">
    <div class="gpa-spinbox__title">{{ title }}</div>
    <div class="gpa-spinbox__error" *ngIf="showErrorText()">{{ error }}</div>
  </div>

  <div class="position--relative">
    <input
      type="number"
      class="gpa-spinbox__area"
      [min]="minValue"
      [max]="maxValue"
      [value]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (blur)="inputBlur()"
      (keypress)="onKeyPress($event)"
      (keydown)="onInputKeyDown($event)"
      (paste)="onPaste()"
      [(ngModel)]="value"
      (ngModelChange)="change()"
    >
    <div class="gpa-spinbox__plus" (click)="clickArrowUp()"></div>
    <div class="gpa-spinbox__minus" (click)="clickArrowDown()"></div>
  </div>

</div>
