<label
  class="gpa-image-upload flex cursor-pointer"
  [ngClass]="{
    'gpa-image-upload--empty': error && !hasFile,
    'gpa-image-upload--error': error,
    'gpa-image-upload--filled': hasFile
  }
">

  <!-- error / success / filled / disabled -->

  <!-- Блок с выводом загруженной фотографии -->
  <div class="gpa-image-upload__image-block position--relative flex flex--align-center flex--content-center cursor-pointer">

    <!-- Скрытое поле ввода с типов "file" -->
    <input
      type="file"
      class="hidden"
      id="upload"
      (change)="onChange($event)"
      accept="{{acceptMimeTypes}}"
      hidden
    >

    <!-- Иконка заглушка -->
    <div
      class="icon-upload-image icon icon--small icon--upload"
      *ngIf="!hasFile"
      [ngClass]="{
        'icon--success': !error,
        'icon--error': !!error
      }"
    ></div>


    <span
      class="gpa-image-upload__img"
      [style.background-image]="avatarSrc"
      *ngIf="!!hasFile"
    ></span>

    <!-- Вывод загруженной фотографии -->
    <div
      class="gpa-image-upload__del position--absoute flex flex--content-end cursor-pointer"
      *ngIf="!!hasFile"
      (click)="onDelete($event)"
    >
      <div class="icon-del"></div>
    </div>

  </div>

  <!-- Блок с информацией -->
  <div class="gpa-image-upload__text flex flex--align-center">

    <!-- Заголовок компонента -->
    <span class="gpa-image-upload__text-title">
      {{ inputLabel }}
    </span>

    <!-- Текст требований к загружаемым файлам -->
    <span class="gpa-image-upload__text-description" *ngIf="!!inputRequirementsText">
      {{ inputRequirementsText }}
    </span>

    <!-- Текст ошибки -->
    <span class="gpa-image-upload__text-description" *ngIf="!!error">
      {{ error }}
    </span>

  </div>

</label>
