.gpa-image-upload {

  &--filled {

    .gpa-image-upload__del {
      opacity: 1;
      visibility: visible;
    } // .gpa-ui-image-upload--filled .gpa-image-upload__del

    .gpa-image-upload__image-block {
      opacity: 1;
      border-color: transparent;
    } // .gpa-ui-image-upload--filled .gpa-image-upload__image-block

    //.icon--camera {
    //  display: none;
    //} // .gpa-ui-image-upload--filled .icon--camera

    .gpa-image-upload__text-description {
      display: none;
    } // .gpa-ui-image-upload--filled .gpa-image-upload__text-description

  } // .gpa-ui-image-upload--filled

  &--disabled {

    .gpa-image-upload__text-title {
      color: #B5B5B5;
    } // .gpa-ui-image-upload--disabled .gpa-image-upload__text-title

    .gpa-image-upload__image-block {
      border-color: #B5B5B5;
      background-color: #f8f8f8;
    } // .gpa-ui-image-upload--disabled .gpa-image-upload__image-block

  } // .gpa-ui-image-upload--disabled

  &--error {

    .gpa-image-upload__text-title {
      color: #F35252;
    } // .gpa-ui-image-upload--error .gpa-image-upload__text-title

    .gpa-image-upload__image-block {
      border-color: #F35252;
    } // .gpa-ui-image-upload--error .gpa-image-upload__image-block

  } // .gpa-ui-image-upload--error

  &__del {
    width: 25px;
    height: 25px;
    top: -1px;
    right: -1px;
    background-color: opacify(#fff, 0.9);
    padding: 5px;
    border-radius: 0 0 0 100px;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
  } // .gpa-image-upload__del

  &__img {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
  } // .gpa-image-upload__img

  &__image-block {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    opacity: .7;
    border: 1px dashed #00AFEC;
    border-radius: 3px;
    background-color: #FFFFFF;

    &:hover {
      opacity: 1;
    } // .gpa-image-upload__image-block:hover

  } // .gpa-image-upload__image-block

  &__text {
    padding-top: 10px;
    padding-bottom: 10px;
  } // .gpa-image-upload__text

  &__text-title,
  &__text-description {
    width: 100%;
    color: #B5B5B5;
    font: 14px/16px "Roboto", sans-serif;
    letter-spacing: 0.3px;
  } // .gpa-image-upload__text-title / .gpa-image-upload__text-description

  &__text-title {
    font-weight: 400;
    color: #00AFEC;
    -webkit-transition: color 150ms ease-in-out;
    -o-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
  } // .gpa-image-upload__text-title

} // .gpa-ui-image-upload
