<!-- TODO: посмотреть на стили -->
<div class="gpa-phone-input"
     [ngClass]="{'gpa-input--filled': !!phone, 'gpa-input--disabled': disabled}">

  <div class="flex flex--content-between">
    <div class="gpa-phone-input__title">{{ title }}</div>
    <div class="gpa-phone-input__error">{{ error }}</div>
  </div>

  <input
    type="text"
    [name]="name"
    maxlength="16"
    class="gpa-phone-input__area"
    [(ngModel)]="phone"
    (ngModelChange)="onChange($event)"
    [placeholder]="placeholder"
    [disabled]="disabled">
</div>
