<div class="gpa-map">
    <div class="gpa-map__wrapper">
        <div #container [style.width]="widthSafeStyle" [style.height]="heightSafeStyle" class="gpa-map__canvas"></div>
    </div>
    <div style="display: block; visibility: hidden; position: absolute;">
        <ng-content></ng-content>
    </div>
</div>
