.gpa-textarea {
  display: inline-block;
  width: 100%;

  &--success {

    textarea.gpa-textarea__area {
      border-color: #00afec;
      outline-color: #00afec;
    } // .gpa-ui-textarea--success textarea.gpa-textarea__area

    .gpa-textarea__title {
      color: #00afec;
    } // .gpa-ui-textarea--success .gpa-textarea__title

  } // .gpa-ui-textarea--success

  &--error {

    textarea.gpa-textarea__area {
      border-color: #f35252;
      outline-color: #f35252;
    } // .gpa-ui-textarea--error textarea.gpa-textarea__area

    .gpa-textarea__title {
      color: #f35252;
    } // .gpa-ui-textarea--error .gpa-textarea__title

    .gpa-textarea__error {
      display: block;
    } // .gpa-ui-textarea--error .gpa-textarea__error

  } // .gpa-ui-textarea--error

  &--disabled textarea.gpa-textarea__area {
    cursor: not-allowed;
    color: #b5b5b5;
    border-color: #dbdbdb;
    outline-color: #b5b5b5;
    background-color: #f8f8f8;
  } // .gpa-ui-textarea--disabled textarea.gpa-textarea__area

  &__title {
    font: 500 12px/14px Roboto, sans-serif;
    margin-bottom: 5px;
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-textarea__title

  &__error {
    font: 500 12px/14px Roboto, sans-serif;
    display: none;
    color: #f35252;
  } // .gpa-textarea__error

  &__area {
    font: 13px/15px Roboto, sans-serif;
    min-width: 180px;
    width: 100%;
    padding: 9px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline-color: #dbdbdb;
    background-color: #fff;
  } // .gpa-textarea__area

  textarea {

    &::-webkit-input-placeholder {
      color: #b5b5b5;
    } // .gpa-ui-textarea textarea::-webkit-input-placeholder

    &:-ms-input-placeholder {
      color: #b5b5b5;
    } // .gpa-ui-textarea textarea:-ms-input-placeholder

    &::placeholder {
      color: #b5b5b5;
    } // .gpa-ui-textarea textarea::placeholder

  } // .gpa-ui-textarea textarea

} // .gpa-ui-textarea
