<div
  class="gpa-textarea {{extraClass}}"
  [ngClass]="{
    'gpa-textarea--disabled': disabled,
    'gpa-textarea--filled': !!value,
    'gpa-textarea--error': !!error
  }"
>

  <div class="flex flex--content-between">
    <div class="gpa-textarea__title" *ngIf="!!title">{{ title }}</div>
    <div class="gpa-textarea__error" *ngIf="showErrorText()">{{ error }}</div>
  </div>

  <textarea
    class="gpa-textarea__area"
    [name]="name"
    [cols]="cols"
    [rows]="rows"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="change()"
  ></textarea>

  <!--TODO: AlexFoxJS: если надо будет - maxLength верстка-->

</div>
