.gpa-switch-button {
  font: bold 14px/16px Roboto, sans-serif;
  position: relative;
  padding: 10px 30px 9px;
  cursor: pointer;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .01);
  border-radius: 2px;

  &:after {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    display: block;
    width: 13px;
    margin-right: calc(100% - 17px);
    content: '';
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  } // .gpa-ui-switch-button:after

  &:active:after,
  &--active:after {
    margin-left: calc(100% - 17px);
    border-color: rgba(0, 0, 0, .1);
  } // .gpa-ui-switch-button:active:after / .gpa-ui-switch-button--active:after

  &:disabled,
  &--disabled {
    cursor: not-allowed;
    background-color: rgba(248, 248, 248, 1);
  } // .gpa-ui-switch-button:disabled / .gpa-ui-switch-button--disabled

  &--small {
    padding: 7px 25px;
  } // .gpa-ui-switch-button--small

  &--success {
    background-color: rgba(0, 175, 236, .1);
    color: rgba(0, 175, 236, 1);

    &:active,
    &.gpa-switch-button--active {
      background-color: rgba(0, 175, 236, 1);
      color: #fff;
    } // .gpa-ui-switch-button:active / .gpa-ui-switch-button.gpa-ui-switch-button--active

  } // .gpa-ui-switch-button--success

  &--error {
    background-color: rgba(243, 82, 82, .1);
    color: rgba(243, 82, 82, 1);

    &:active,
    &.gpa-switch-button--active {
      background-color: rgba(243, 82, 82, 1);
      color: #fff;
    } // .gpa-ui-switch-button--error:active  // .gpa-ui-switch-button--error.gpa-ui-switch-button--active

  } // .gpa-ui-switch-button--error

  &--warning {
    background-color: rgba(255, 184, 39, .1);
    color: rgba(255, 184, 39, 1);

    &:active,
    &.gpa-switch-button--active {
      background-color: rgba(255, 184, 39, 1);
      color: #fff;
    } // .gpa-ui-switch-button--warning:active / .gpa-ui-switch-button--warning.gpa-ui-switch-button--active

  } // .gpa-ui-switch-button--warning

  &--grey {
    background-color: #F8F8F8;

    &:active,
    &.gpa-switch-button--active {
      background-color: #f0f0f0;
    } // .gpa-ui-switch-button--grey:active / .gpa-ui-switch-button--grey.gpa-ui-switch-button--active

  } // .gpa-ui-switch-button--grey

  &--white {
    border-color: #f0f0f0;
    background-color: rgba(255, 255, 255, 1);

    &:disabled {
      color: rgba(181, 181, 181, 1);
    } // .gpa-ui-switch-button--white:disabled

  } // .gpa-ui-switch-button--white

} // .gpa-ui-switch-button
