<gpa-popup #popup>

  <div class="modal-form__content margin--bottom-2 text--align-center">
    <span class="poz-alert__text">{{title}}</span>
  </div>

  <footer class="modal-form__footer flex">

    <gpa-button [text]="buttonActionText" (click)="action()" color="error"></gpa-button>

    <div class="margin--left-1">
      <gpa-button [text]="buttonCancelText" (click)="cancel()"></gpa-button>
    </div>

  </footer>

</gpa-popup>
