/deep/ .gpa-alert {
  background-color: opacify(#212121, 0.8);
  z-index: 100;

  &__text {
    font: 14px/20px "Roboto", sans-serif;
    color: #212121;
    letter-spacing: 0.3px
  } // .poz-alert__text

} // () .gpa-ui-alert



.modal-form {
  //width: 320px;
  position: absolute;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #DBDBDB;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  &__header {
    text-align: center;
  } // .modal-form__header

  &__title {
    font: bold 14px/20px "Roboto", sans-serif;
    letter-spacing: .3px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .modal-form__title

  &__content {

  } // .modal-form__content

  &__footer {

  } // .modal-form__footer

} // .modal-form
