/**
 *  Стили для компонента "poz-checkbox"
 */
.gpa-checkbox {

  &__label {

  } // .gpa-checkbox__label

  &__input {

    &:checked + .gpa-checkbox__area {
      border-color: #00AFEC;
      background-color: #00AFEC;
    } // .gpa-checkbox__input:checked + .gpa-checkbox__area

  } // .gpa-checkbox__input

  &__area {
    width: 20px;
    height: 20px;
    -webkit-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
  } // .gpa-checkbox__area

  &__text {
    font: 13px/15px 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #212121;
  } // .gpa-checkbox__text

} // .gpa-checkbox
