<div class="gpa-checkbox flex {{extraClass}}">
  <label class="gpa-checkbox__label flex flex--align-center width-full cursor-pointer">
    <input type="checkbox"
           class="poz-checkbox__input"
           hidden
           [checked]="checked"
           [(ngModel)]="checked"
           (ngModelChange)="change()">
    <span class="gpa-checkbox__area icon icon--small icon--white icon--center-center icon--check margin--right-1"></span>
    <!--TODO: когда нарисуют, тогда текст ошибки добавить-->
    <span class="gpa-checkbox__text" *ngIf="text">{{text}}</span>
    <ng-content *ngIf="!text"></ng-content>
  </label>
</div>
