.gpa-select {
  min-width: 180px;

  &--open {

    .gpa-select__arrow-icon {
      -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
      transform: scale(-1);
    } // .gpa-ui-select--open .gpa-select__arrow-icon

    .gpa-select__dropdown {
      max-height: 125px;
      padding: 0 5px 5px;
      opacity: 1;
      -webkit-transition-delay: 0ms, 0ms;
      -o-transition-delay: 0ms, 0ms;
      transition-delay: 0ms, 0ms;
      -webkit-transition-property: max-height, padding;
      -o-transition-property: max-height, padding;
      transition-property: max-height, padding;
      pointer-events: auto;
    } // .gpa-ui-select--open .gpa-select__dropdown

  } // .gpa-ui-select--open

  &--success {

    input.gpa-select__area {
      border-color: #00afec;
    } // .gpa-ui-select--success input.gpa-select__area

    .gpa-select__title {
      color: #00afec;
    } // .gpa-ui-select--success .gpa-select__title

    .gpa-select__arrow-icon {
      border-top-color: #00afec;
    }  // .gpa-ui-select--success .gpa-select__arrow-icon

    .gpa-select__dropdown {
      border-right-color: #00afec;
      border-bottom-color: #00afec;
      border-left-color: #00afec;
    } // .gpa-ui-select--success .gpa-select__dropdown

  } // .gpa-ui-select--success

  &--error {

    .gpa-select__area {
      border-color: #f35252;
    } // .gpa-ui-select--error input.gpa-select__area

    .gpa-select__title {
      color: #f35252;
    } // .gpa-ui-select--error .gpa-select__title

    .gpa-select__error {
      display: block;
    } // .gpa-ui-select--error .gpa-select__error

    .gpa-select__arrow-icon {
      border-top-color: #f35252;
    }  // .gpa-ui-select--error .gpa-select__arrow-icon

    .gpa-select__dropdown {
      border-right-color: #f35252;
      border-bottom-color: #f35252;
      border-left-color: #f35252;
    } // .gpa-ui-select--error .gpa-select__dropdown

  } // .gpa-ui-select--error

  &--disabled {

    .gpa-select__area {
      cursor: not-allowed;
      color: #b5b5b5;
      border-color: #dbdbdb;
      background-color: #f8f8f8;
    } // .gpa-ui-select--disabled input.gpa-select__area

    .gpa-select__arrow-icon {
      border-top-color: #dbdbdb;
    }  // .gpa-ui-select--disabled .gpa-select__arrow-icon

    .gpa-select__dropdown {
      border-right-color: #dbdbdb;
      border-bottom-color: #dbdbdb;
      border-left-color: #dbdbdb;
      background-color: #f8f8f8;
      cursor: not-allowed;
    } // .gpa-ui-select--disabled .gpa-select__dropdown

    .gpa-select__dropdown-item {
      color: #B5B5B5;
      background-color: #f8f8f8;
      cursor: not-allowed;
    } // .gpa-ui-select--disabled .gpa-select__dropdown-item

  } // .gpa-ui-select--disabled

  &__title {
    font: 400 12px/14px "Roboto", sans-serif;
    margin-bottom: 5px;
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-select__title

  &__error {
    font: 400 12px/14px "Roboto", sans-serif;
    display: none;
    color: #f35252;
  } // .gpa-select__error

  &__area {
    font: 13px/15px 'Roboto', sans-serif;
    width: 100%;
    height: 37px;
    padding: 10px 26px 10px 15px;
    cursor: pointer;
    color: #212121;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    background-color: #fff;
  } // .gpa-select__area

  input::-webkit-select-placeholder,
  input:-ms-select-placeholder,
  input::placeholder {
    color: #b5b5b5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } // .gpa-ui-select input::-webkit-select-placeholder / .gpa-ui-select input:-ms-select-placeholder / .gpa-ui-select input::placeholder

  &__arrow {
    top: 1px;
    right: 1px;
    height: 37px;
    width: 26px;
    border-radius: 1px;
  } // .gpa-select__arrow

  &__arrow-icon {
    -webkit-transition: -webkit-transform 150ms ease;
    -o-transition:         transform 150ms ease;
    transition: -webkit-transform 150ms ease;
    transition:         transform 150ms ease;
    border-top: 4px solid #c4c4c4;
    border-right: 3px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 3px solid transparent;

  } // .gpa-select__arrow-icon

  &__dropdown {
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    overflow: scroll;
    pointer-events: none;
    max-height: 0;
    margin: 0;
    padding: 1px;
    list-style: none;
    opacity: 0;
    -webkit-transition-property: max-height, padding, opacity;
    -o-transition-property: max-height, padding, opacity;
    transition-property: max-height, padding, opacity;
    -webkit-transition-delay: 0ms, 300ms, 300ms;
    -o-transition-delay: 0ms, 300ms, 300ms;
    transition-delay: 0ms, 300ms, 300ms;
    -webkit-transition-duration: 300ms, 0ms, 0ms;
    -o-transition-duration: 300ms, 0ms, 0ms;
    transition-duration: 300ms, 0ms, 0ms;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    z-index: 5;

  } // .gpa-select__dropdown

  &__dropdown-item {
    font: 13px/15px 'Roboto', sans-serif;
    padding: 8px 2px 7px 10px;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    letter-spacing: .3px;
    color: #212121;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;

    &:hover {
      background-color: #F8F8F8;
    } // .gpa-select__dropdown-item:hover

    &--disabled,
    &[disabled] {
      color: #B5B5B5;
      pointer-events: none;
    } // .gpa-select__dropdown-item--disabled / .gpa-select__dropdown-item[disabled]

    &--active {
      color: #B5B5B5;
      pointer-events: none;
    } // .gpa-select__dropdown-item--active

  } // .gpa-select__dropdown-item

} // .gpa-ui-select
