<div style="display: none">
    <ng-content select="option"></ng-content>
</div>

<div class="gpa-select position--relative {{extraClass}}" (click)="!disabled ? (opened = !opened) : null"
     [ngClass]="{
     'gpa-select--error': showErrorText(),
     'gpa-select--filled': !!value,
     'gpa-select--disabled': disabled,
     'gpa-select--open': (opened && !disabled)}">

    <div class="flex flex--content-between">
        <div class="gpa-select__title" *ngIf="title">{{title}}</div>
        <div class="gpa-select__error" *ngIf="showErrorText()">{{error}}</div>
    </div>

    <div class="gpa-select__area position--relative">
        <span *ngIf="placeholder !== '' && value === ''" class="gpa-select__placeholder">{{ placeholder }}</span>
        <span>{{valueTitle ? valueTitle : '&nbsp;'}}</span>

        <div class="gpa-select__arrow position--absoute flex flex--align-center flex--content-center">
            <span class="gpa-select__arrow-icon"></span>
        </div>

    </div>

    <div class="gpa-select__dropdown flex" gpaScroll (scrolled)="scrollDown()" (scrolledUp)="scrollUp()">
        <a class="gpa-select__dropdown-item" *ngFor="let item of options" [attr.data-key]="item.key"
           [ngClass]="{'gpa-select__dropdown-item--active': value == item.key}"
           (click)="setValue(item.key)">
            {{item.value}}
        </a>
        <!-- gpa-select__dropdown-item--active -->
        <!-- gpa-select__item--disabled -->
    </div>

</div>
