/**
 * Базовые стили проекта
 */

body {
  background-color: #f8f8f8;
  min-width: 1280px;
  min-height: 670px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bg {
  background-color: #fff;
}

.layout {
  min-width: 100vw;
  min-height: 100vh;
}
