/**
 *  Универсальные стили для вывода иконок/спрайтов
 */

.icon {
  display: block;
  background-repeat: no-repeat;

  &--smaller {
    width: 12px;
    height: 12px;
  } // .icon--smaller

  &--small {
    width: 20px;
    height: 20px;
  } // .icon--small

  &--disabled {

    &.icon--smaller {
      background-position-y: 0;
    } // .icon--disabled.icon--smaller

    &.icon--small {
      background-position-y: 0;
    } // .icon--disabled.icon--small

  } // .icon--disabled

  &--success {

    &.icon--smaller {
      background-position-y: -24px;
    } // .icon--success.icon--smaller

    &.icon--small {
      background-position-y: -20px;
    } // .icon--success.icon--small

  } // .icon--success

  &--error {

    &.icon--smaller {
      background-position-y: -36px;
    } // .icon--error.icon--smaller

    &.icon--small {
      background-position-y: -40px;
    } // .icon--error.icon--small

  } // .icon--error

  &--white {

    &.icon--smaller {
      background-position-y: -52px;
    } // .icon--white.icon--smaller

    &.icon--small {
      background-position-y: -60px;
    } // .icon--white.icon--small

  } // .icon--white

  &-menu {
    background-image: url('./assets/img/sprite/menu.svg');
    background-position-y: 0;

    &--item-1 {
      background-position-x: 0;
    } // .icon-menu--item-1

    &--item-2 {
      background-position-x: -20px;
    } // .icon-menu--item-2

    &--item-3 {
      background-position-x: -40px;
    } // .icon-menu--item-3

    &--item-4 {
      background-position-x: -60px;
    } // .icon-menu--item-4

    &--item-5 {
      background-position-x: -80px;
    } // .icon-menu--item-5

    &--item-6 {
      background-position-x: -100px;
    } // .icon-menu--item-6

    &--item-7 {
      background-position-x: -120px;
    } // .icon-menu--item-7

    &--item-8 {
      background-position-x: -140px;
    } // .icon-menu--item-8

  } // .icon-menu

  &--upload {
    background-image: url('./assets/img/sprite/upload.svg');
    background-position-y: 0;

    &-image {
      background-position-x: 0;
    } // .icon-upload-image

    &-file {
      background-position-x: -20px;
    } // .icon-upload-file

  } // .icon--upload

  &-cells {
    background-image: url('./assets/img/sprite/cells.svg');
    background-position-y: 0;

    &--drop {
      background-position-x: 0;
      cursor: grab;

      &:active {
        cursor: grabbing;
      } // .icon-cells--drop:active

    } // .icon-cells--drop

    &--edit {
      background-position-x: -20px;
    } // .icon-cells--edit

    &--del {
      background-position-x: -40px;
    } // .icon-cells--del

    &--public {
      background-position-x: -60px;
    } // .icon-cells--public

    &--unpublic {
      background-position-x: -80px;
    } // .icon-cells--unpublic

  } // .icon-cells

  &--open {
    background-image: url('./assets/img/sprite/open.svg');
    background-position-x: 0;
    background-position-y: 0;
  } // .icon--open

  &--cross {
    background-image: url('/assets/img/sprite/cross.svg');
    background-position-x: 0;
    background-position-y: 0;
  } // .icon--cross

  &--check {
    background-image: url('/assets/img/sprite/check.svg');
    background-position-x: 0;
    background-position-y: 0;
  } // .icon--check



  /**
   *  Иконки не в спрайтах
   */

  &--logo {
    background-image: url('./assets/img/logo.svg');
    background-position: center center;
  } // .icon--logo

  &--greenpie {
    background-image: url('./assets/img/greenpie.svg');
    background-position: center center;
  } // .icon--greenpie

  &-del {
    background-image: url('./assets/img/del.svg');
    background-position: center center;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
  } // .icon-del

} // .icon



.active {

  > .icon {
    background-position-y: -20px;
  } // .active > .icon

} // .active
