/**
 *  Универсальные стили для внешних отступов
 */

.margin {

  &--all {

    &-1 {
      margin: 1rem;
    } // .margin--all-1

    &-1-5 {
      margin: 1.5rem;
    } // .margin--all-1-5

    &-2 {
      margin: 2rem;
    } // .margin--all-2

    &-auto {
      margin: auto;
    } // .margin--all-auto

  } // .margin--all

  &--top {

    &-1 {
      margin-top: 1rem;
    } // .margin--top-1

    &-1-5 {
      margin-top: 1.5rem;
    } // .margin--top-1-5

    &-2 {
      margin-top: 2rem;
    } // .margin--top-2

    &-auto {
      margin-top: auto;
    } // .margin--top-auto

  } // .margin--top

  &--right {

    &-1 {
      margin-right: 1rem;
    } // .margin--right-1

    &-1-5 {
      margin-right: 1.5rem;
    } // .margin--right-1-5

    &-2 {
      margin-right: 2rem;
    } // .margin--right-2

    &-auto {
      margin-right: auto;
    } // .margin--right-auto

  } // .margin--right

  &--bottom {

    &-1 {
      margin-bottom: 1rem;
    } // .margin--bottom-1

    &-1-5 {
      margin-bottom: 1.5rem;
    } // .margin--bottom-1-5

    &-2 {
      margin-bottom: 2rem;
    } // .margin--bottom-2

    &-3 {
      margin-bottom: 3rem;
    } // .margin--bottom-3

    &-auto {
      margin-bottom: auto;
    } // .margin--bottom-auto

  } // .margin--bottom

  &--left {

    &-1 {
      margin-left: 1rem;
    } // .margin--left-1

    &-1-5 {
      margin-left: 1.5rem;
    } // .margin--left-1-5

    &-2 {
      margin-left: 2rem;
    } // .margin--left-2

    &-auto {
      margin-left: auto;
    } // .margin--left-auto

  } // .margin--left

  &--top {

    &-bottom-1 {
      margin: 1rem 0;
    } // .margin--top-bottom-1

    &-bottom-1 {
      margin: 1.5rem 0;
    } // .margin--top-bottom-1-5

    &-bottom-2 {
      margin: 2rem 0;
    } // .margin--top-bottom-2

    &-bottom-auto {
      margin: auto 0;
    } // .margin--top-bottom-auto

  } // .margin--top

  &--right {

    &-left-1 {
      margin: 0 1rem;
    } // .margin--right-left-1

    &-left-1-5 {
      margin: 0 1.5rem;
    } // .margin--right-left-1-5

    &-left-2 {
      margin: 0 2rem;
    } // .margin--right-left-2

    &-left-auto {
      margin: 0 auto;
    } // .margin--right-left-auto

  } // .margin--right


} // .margin
