/**
 *  Универсальные стили для внутрених отступов
 */

.padding {

  &-all-1 {
    padding: 1rem;
  } // .padding-all-1

  &-all-2 {
    padding: 2rem;
  } // .padding-all-2

  &-top-1 {
    padding-top: 1rem;
  } // .padding-top-1

  &-top-1-5 {
    padding-top: 1.5rem;
  } // .padding-top-1-5

  &-right-1 {
    padding-right: 1rem;
  } // .padding-right-1

  &-right-1-5 {
    padding-right: 1.5rem;
  } // .padding-right-1-5

  &-bottom-1 {
    padding-bottom: 1rem;
  } // .padding-bottom-1

  &-bottom-1-5 {
    padding-bottom: 1.5rem;
  } // .padding-bottom-1-5

  &-left-1 {
    padding-left: 1rem;
  } // .padding-left-1

  &-left-1-5 {
    padding-left: 1.5rem;
  } // .padding-left-1-5

} // .padding
