/**
 *  Универсальные стили для позиционирования блоков/элементов
 */

.position {

  &--relative {
    position: relative;
  } // .position--relative

  &--absoute {
    position: absolute;
  } // .position--absoute

} // .position

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.width-full {
  width: 100%;
} // .width-full

.border--radius-all {
  border-radius: 3px;
} // .border--radius-all
