/**
 *  NS-SCROLL - Импорт стилей базового компонента "perfect-scrollbar"
 *  Описаны стили для кастомизации компонента скролла выводимого через тег [ns-scroll]
 */

@import "~perfect-scrollbar/dist/css/perfect-scrollbar.css";

[ns-scroll] {
  position: relative
}

.ps__scrollbar-y {
  width: 4px !important;
  right: 0 !important
}

.ps__scrollbar-y-rail {
  background-color: #E8E8E8 !important;
  opacity: 1 !important;
  width: 4px !important;
  min-height: 100%;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.content_body::-webkit-scrollbar {
  display: none
}
