/**
 *  Стили для таблиц с классом ".table"
 */

.table {
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;

  &--border {

    thead {
      background-color: #F8F8F8;
      font-weight: 500;
    } // .table--border thead

    td {
      border: 1px solid #DBDBDB;
      padding: 13px 16px 11px 20px;
    } // .table--border td

  } // .table--border

  &--default {

    tr {

      > td:nth-child(1) {
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        min-width: 175px;
      } // .table--default tr > td:nth-child(1)

      > td:nth-child(2) {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.3px;
      } // .table--default tr > td:nth-child(2)

    } // .table--default tr

    td {
      padding-bottom: 20px;
    } // .table--default td

  } // .table--default

  td {
    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;

    &.success {
      color: #00AFEC;
    } // .table td.success

    &.error {
      color: #F35252;
    } // .table td.error

  } // .table td

  caption {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  } // .table caption

} // .table
