/**
 *  Универсальные стили для типографии
 */

.cursor-pointer {
  cursor: pointer;
} // .cursor-pointer

.text {

  &--align-left {
    text-align: left;
  } // .text--align-left

  &--align-center {
    text-align: center;
  } // .text--align-center

  &--align-right {
    text-align: right;
  } // .text--align-right

} // .text

.link {
  font: 15px/18px Roboto, sans-serif;
  text-decoration: none;
  color: #b5b5b5;

  .icon {
    margin-right: 10px;
  } // .link .icon

} // .link
