<!--<span>main work!</span>-->

<div class="flex">

  <!-- Вывод всех дефолтных кнопок -->
  <div class="flex width-full">

    <!--success / error / warning / grey / white-->

    <!--TODO: пример-->
    <gpa-alert
      #alert
      title="Удалить все?"
      (actionClick)="actionClick()"
      (cancelClick)="cancelClick()"
    ></gpa-alert>

    <!--TODO: вырезать click-->
    <div class="margin--all-1">
      <gpa-button
        (click)="click()"
        state="success"
        text="Button"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="error"
        text="Button"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="grey"
        text="Button"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="warning"
        text="Button"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="white"
        text="Button"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="white"
        text="Button"
      ></gpa-button>
    </div>

  </div>

  <!-- Вывод всех маленьких кнопок -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-button
        state="success"
        text="Button"
        size="small"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="error"
        text="Button"
        size="small"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="warning"
        text="Button"
        size="small"
      ></gpa-button>
    </div>

    <div class="margin--all-1">
      <gpa-button
        state="white"
        text="Button"
        size="small"
      ></gpa-button>
    </div>

  </div>

  <!-- Вывод всех дефолтных свитчь кнопок -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-switch-button state="success"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="error"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="warning"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="grey"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="white"></gpa-switch-button>
    </div>

  </div>

  <!-- Вывод всех маленьких свитчь кнопок -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-switch-button state="success" size="small"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="error" size="small"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="warning" size="small"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="grey" size="small"></gpa-switch-button>
    </div>

    <div class="margin--all-1">
      <gpa-switch-button state="white" size="small"></gpa-switch-button>
    </div>

  </div>

  <!-- Вывод аватар аплоадера -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-image-upload
        [inputRequirementsText]="'jpg или png, max 3mb'"
        [maxSize]="1024 * 1024"
        [mimeTypes]="'image/jpeg, image/png'"
      ></gpa-image-upload>
    </div>

  </div>

  <!-- Вывод всех селектов -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-select title="Заголовок" [(ngModel)]="selectedItem" (onScrollDown)="showAlert()">
        <option *ngFor="let item of getSelectItems()" value="{{item.id}}">{{item.title}}</option>
      </gpa-select>
    </div>

    <div class="margin--all-1">
      <gpa-select title="Заголовок" [(ngModel)]="selectedItem" (onScrollDown)="showAlert()">
        <option *ngFor="let item of getSelectItems()" value="{{ item.id }}">{{item.title}}</option>
      </gpa-select>
    </div>

    <div class="margin--all-1">
      <gpa-select title="Заголовок" [disabled]="true" [value]="3">
        <option *ngFor="let item of getSelectItems()" value="{{item.id}}">{{item.title}}</option>
      </gpa-select>
    </div>

    <div class="margin--all-1">
      <gpa-select title="Заголовок" error="Тут ошибка!" [value]="2">
        <option *ngFor="let item of getSelectItems()" value="{{item.id}}">{{item.title}}</option>
      </gpa-select>
    </div>

  </div>

  <!-- Вывод всех мульти-селектов -->
  <div class="flex width-full">
    <div class="margin--all-1">
      <gpa-multiselect title="Title">
        <option *ngFor="let item of getMultiSelectItems()" value="{{item.value}}">{{item.title}}</option>
      </gpa-multiselect>
    </div>

    <div class="margin--all-1">
      <gpa-multiselect title="Title" [disabled]="true">
        <option *ngFor="let item of getMultiSelectItems()" value="{{item.value}}">{{item.title}}</option>
      </gpa-multiselect>
    </div>

    <div class="margin--all-1">
      <span>{{multiSelectedItems}}</span>
      <gpa-multiselect
        title="Title"
        error="Ошибка!"
        (onScrollDown)="showAlert()"
        [(ngModel)]="multiSelectedItems"
      >
        <option *ngFor="let item of getMultiSelectItems()" value="{{item.value}}">{{item.title}}</option>
      </gpa-multiselect>
    </div>

  </div>

  <!-- Вывод всех радиокнопок -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-radio-button>
        <option value="1">Text1</option>
        <option value="2">Text2</option>
        <option value="3">Text3</option>
      </gpa-radio-button>
    </div>

  </div>

  <!-- Вывод текстовых вводов -->
  <div class="flex width-full">

    <div class="margin--all-1">
      <gpa-textarea
        title="Title"
      ></gpa-textarea>
    </div>

    <div class="margin--all-1">
      <gpa-textarea
        title="Title"
        minlength="0"
        maxlength="100"
        [error]="true"
      ></gpa-textarea>
    </div>

  </div>

  <gpa-popup #popup>
    <header class="modal-form__header margin--bottom-2">
      <h2 class="modal-form__title text--align-center">Добавление региона</h2>
    </header>

    <div class="modal-form__content margin--bottom-2">
      <div class="modal-form__row">
        <gpa-input
          title="Название"
        ></gpa-input>
      </div>
    </div>

    <footer class="modal-form__footer flex">

      <gpa-button text="Отмена" (click)="popupClose()"></gpa-button>

      <div class="margin--left-1">
        <gpa-button color="success" text="Добавить" (click)="popupConfirm()"></gpa-button>
      </div>

    </footer>
  </gpa-popup>

  <app-tinymce></app-tinymce>

</div>
