.gpa-radio-button {

  &__radio {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    background-color: #fff;
  } // .gpa-radio-button__radio

  &__input {

    &:checked {

      + .gpa-radio-button__radio {
        border-color: #00afec;
        background-color: #00afec;
      } // .gpa-ui-radio-button:checked + .gpa-radio-button__radio

      + span + .gpa-radio-button__description {
        color: #212121;
      } // .gpa-ui-radio-button:checked + span + .gpa-radio-button__description

    } // .gpa-ui-radio-button:checked

    &--error {

      + .gpa-radio-button__radio {
        border-color: #f35252;
        background-color: #fff;
      } // .gpa-radio-button__input.gpa-radio-button__input--error + .gpa-radio-button__radio

      + span + .gpa-radio-button__description {
        color: #f35252;
      } // .gpa-radio-button__input + span + .gpa-radio-button__description

    } // .gpa-radio-button__input.gpa-radio-button__input--error

    &--disabled {

      + .gpa-radio-button__radio {
        cursor: not-allowed;
        border-color: #b5b5b5;
      } // .gpa-radio-button__input--disabled + .gpa-radio-button__radio

      + .gpa-radio-button__radio:before {
        background-color: #b5b5b5;
      } // .gpa-radio-button__input--disabled + .gpa-radio-button__radio:before

      + span + .gpa-radio-button__description {
        cursor: not-allowed;
        color: #b5b5b5;

      } // .gpa-radio-button__input--disabled + span + .gpa-radio-button__description

    } // .gpa-radio-button__input--disabled

  } // .gpa-radio-button__input

  &__radio:before {
    position: absolute;
    width: 6px;
    height: 6px;
    margin: 6px;
    content: '';
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    border-radius: 50%;
    background-color: #fff;
  } // .gpa-radio-button__radio:before

  &__description {
    font: 14px/16px Roboto, sans-serif;
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
    color: #212121;
  } // .gpa-radio-button__description

} // .gpa-ui-radio-button
