<div style="display: none">
  <ng-content select="option"></ng-content>
</div>

<label class="gpa-radio-button flex flex--align-center cursor-pointer {{extraClass}}"
       *ngFor="let option of options">

  <input
    type="checkbox"
    class="gpa-radio-button__input"
    [ngClass]="{
      'gpa-radio-button__input--error': !!error,
      'gpa-radio-button__input--disabled': disabled
    }"
    hidden
    [name]="name"
    [disabled]="disabled"
    [ngModel]="option.selected"
    (click)="onChange(option.value, $event)"
  >

  <span class="gpa-radio-button__radio margin--right-1"></span>

  <span class="gpa-radio-button__description">{{ option.text }}</span>

</label>
